@view-transition {
  navigation: auto;
}

html[data-bs-theme="dark"] .invert-when-dark {
    filter: invert(1);
}

.btn > ion-icon,
.dropdown-item > ion-icon{
  margin-bottom: -2px;
}

/* Hack to soft disable team name for solo entries without actually disabling them,
   which affects which fields get submitted.
 */
.form-control.disabled {
  background-color: var(--bs-secondary-bg) !important;
  opacity: 1;
}

@media (min-width: 992px) {
  .border-lg {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}