@view-transition {
  navigation: auto;
}


/* Hack to soft disable team name for solo entries without actually disabling them,
   which affects which fields get submitted.
 */
.form-control.disabled {
  background-color: var(--bs-secondary-bg) !important;
  opacity: 1;
}