{% extends "base.html" %}

{% block title %}Payment Information - {{ super() }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3 class="card-title mb-0">
                        <ion-icon name="card-outline" class="me-2"></ion-icon>
                        Baton Payment Information
                    </h3>
                </div>
                <div class="card-body">
                    <h4>What You're Getting</h4>
                    <p>This $16 payment is for one official Light Rail Relay baton, which you'll receive on the Angle Lake platform before the event. Each team is required to have a baton to participate in the relay. If you have a baton from a previous year, you do <b>not</b> need to purchase a new one. Bring it and run with it again!</p>

                    <h4>Payment Instructions</h4>
                    <p>To pay for your baton, please send $16 to <strong>nick@nickwalker.us</strong> on Venmo or PayPal. Please include "LRR" and your team name in the payment description.</p>
                    <p>Once your payment is processed, your team captain will be notified and your team's registration will be approved.</p>

                    <h4>Refund Policy</h4>
                    <p>Payments are refundable until midnight September 13th, 2025. <a href="mailto:{{ contact_email }}">Contact us</a> for a refund. Beyond this point, consider inviting someone else to be captain of the team to use your baton if you can't participate. There are no refunds if you fail to pick up your baton by the scheduled start of the event.</p>
                    <p>If the event is cancelled or rescheduled, all teams may request a refund or make an alternate arrangement to receive their baton.</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
